<%
function isEmpty(obj) {
    for(var key in obj) {
        if(obj.hasOwnProperty(key))
            return false;}
    return true;}
function getList(item) {

    let items=('<div class="col-md-4">'+
                    '<div class="card mb-4 shadow-sm no-border no-border-radius">'+
                        '<div class="margin-item-list-box">'+
                            '<a href='+item.image_link+'>'+
                                '<img class="img-width" width="400px" height="400px" src='+item.image_link +
                                '>'+
                            '</a>'+
                        '</div>'+
                    '<div class="card-body no-border-radius no-border">'+
                        '<h3 class="product-brand">'+item.brand_name+'</h3>'+
                        '<h4 class="product-name">'+item.desc+'</h4>'+
                        '<h4 class="product-price">'+
                            '<img class="" width="18px" src="icons/rupee-indian.svg">'+item.price+
                        '</h4>'+
                    '</div>'+
                '</div>'+
            '</div>')
    return items;}%>

                <%if(isEmpty(data)){%>
                    <div><h2>Search items from various websites</h2></div><%}
                else {%>
                <%- data.map(getList).join('')%>
                <%}
                %>

