<div class="col-md-4">
    <div class="card mb-4 shadow-sm no-border no-border-radius">
        <div class="margin-item-list-box">
            <a href="https://www.google.com/">
                <img class="img-width" width="400px" height="400px" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2020/2/6/c1cbe808-3d69-4738-ab30-92d490aad0811580947538908-1.jpg"/>
            </a>
        </div>
        <div class="card-body no-border-radius no-border">
            <h3 class="product-brand">item1</h3>
            <h4 class="product-name">gfggffh</h4>
            <h4 class="product-price"><img class="" width="18px" src="icons/rupee-indian.svg"> 400</h4>
        </div>
    </div>
</div>