<section class="jumbotron text-center no-border-radius">
    <div class="container">
        <h1>Search at one place</h1>
        <form class="center-block form-group" action="/" method="post">
            <div class="st-focus">

                <input class="box-input" type="search" id="search_web" name="search_web" placeholder="Search" aria-label="Search">
                <span  class="fas fa-search search-icon-set"></span>
            </div>


            <!--<button class=" box-button" type="submit">Search</button>-->
        </form>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <!-- <p>
           <a href="#" class="btn btn-primary my-2">Main call to action</a>
           <a href="#" class="btn btn-secondary my-2">Secondary action</a>
         </p>-->
    </div>
</section>