<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <form id="searchform" name="searchform" >
    <input type="text" required name="search_web"  id="search_web">
  </form>
    <div id="search-result" name="search-result"></div>
    <script src="js/jquery.js"></script>
  <script>
    $(document).ready(function(){
      $('#searchform').keydown(function(e) {
        var key = e.which;
        var val=$("")
        if (key == 13) {
          alert("hello");
          $.post("/",
                  $('#search_web').val(),
                  function(data, status){
                    $('#search-result').html(data);
                  });
        }
      });
    });
   /* function submitForm() {
      document.searchform.submit();
      document.searchform.method='post';
      document.searchform.action='/';
    }
    document.onkeydown = function () {
      if (window.event.keyCode == '13') {
        submitForm();
      }
    }*/
    //document.getElementById("search_web").onclick = submitForm;
  </script>
  </body>
</html>
